@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /*grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;

    /*color swatches*/
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;
}

/*reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*makes padding and border part of the total width and height*/
}

body,
html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
}

.navigation,
.hero,
.image-section,
.footer,
.contact-form-container {
    width: var(--width-full);
}

.todays_recipes,
.categories,
.content-area {
    width: var(--width-12col);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    /* 0, 0 */
    z-index: 10;
    /*layers in css */
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
    /*navigation always stick to the top*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.menu-container a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--background-color-light);
    text-transform: uppercase;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.main-container ul li:last-child {
    border-right: none;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.clicked {
    color: var(--primary-color) !important;
}

.hero {
    background-image: url(https://picsum.photos/1200/800);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text {
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

a{
    text-decoration: none;
    color: var(--background-color-light);
}

.hero-text h1 {
    padding: 0;
    /*redundant. D r Y dont repeat yourself*/
    margin: 15px 0;
    /*we can only write top- right thenit will do it for both sides*/
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    
}

.hero-text h1 span {
    font-size: 37px;
    font-weight: 900;
}

.hero-text p {
    font-size: 14px;

}

/*personal-information area start */
.personal-information{
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;

}


.personal-information-headline {
    width: 100%;
    /* scale better on mobile phones */
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 70px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;

}

.personal-information-content-block-image img {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;

}

.personal-information-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.personal-information-content-block {
    background-color: var(--background-color-light);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.personal-information-content-block-text {
    padding: 20px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.personal-information-content-block-text h5 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.personal-information-content-block-text p {
    font-size: 16px;
}

.personal-information-content-block-bottom-area {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.personal-information-content-block-bottom-area-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;

}

.personal-information-content-block-bottom-area-left p {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.personal-information-content-block-bottom-area-left p:last-child {
    font-weight: 800;
}

.personal-information-content-block-bottom-area-right-button button {
    background-color: var(--color-black);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px;

}

.personal-information-content-block-bottom-area-right-button button a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}


/*data category colors start*/

div[data-category="developer"] {
    border-left: 1px solid var(--category-seafood)
}


/*data-category colors end*/

div[data-category="graphicdesigner"] {
    border-left: 1px solid var(--category-chicken);
}



/*data category colors start*/

div[data-category="cook"] {
    border-left: 1px solid var(--category-dessert)
}


/*data-category colors end*/

/*data category colors start*/

div[data-category="specialist"] {
    border-left: 1px solid var(--category-meats)
}

/*data-category colors end*/

.contact-form-container{
     width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 70px auto;


}

.contact-form-headline{
    /* scale better on mobile phones */
    color: var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    margin: 0 0 auto 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;

} 

.contact-form-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.contact-inputs{
    width: 600px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 400;
    color: var(--background-color-dark-bg);
    border-radius: 5px;
}

.contact-input{
    height: 300px;
    width: 600px;
    padding-top: 15px;
    border-radius:5px;
    outline: none;
      padding-left: 25px;
    font-weight: 400;
    font-family: roboto;
}



.contact-inputs:focus{
    border: 2px solid var(--category-pasta);
}

.contact-input:focus{
    border: 2px solid var(--category-pasta);

}

.contact-form-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: var(--background-color-light);
    gap: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--category-pasta);
    cursor: pointer;
}

.contact-form-left span{
    display: flex;
    align-items: center;
}


.footer-container {




    background-color: var(--category-pasta);
    margin: 0px 0px 0px 0px;
    width: var(--width-full);

}

.footer-container-block {
    width: var(--width-12col);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    list-style: none;
    margin: 0px auto 0px auto;
    position: relative;
}


.footer-container-block-left {
    display: grid;
    grid-column: 1 /7;
    grid-row: span;
    margin: 50px 80px 40px 10px;




}

.footer-container-block-left-text-left {
    grid-column: 1/7;




}

.footer-container-block-left-text-left ul {

    list-style-type: none;


}

.footer-container-block-left-text-left a {
    text-decoration: none;
    color: var(--color-black);
    line-height: 30px;
}

.footer-container-block-left-text-left li {
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: start;

}


.footer-container-block-left-text-right {
    grid-column: 7/13;


}

.footer-container-block-left-text-right ul {
    list-style-type: none;
}

.footer-container-block-left-text-right a {
    text-decoration: none;
    color: var(--color-black);
    line-height: 30px;

}

.footer-container-block-right {

    border-left: 2px solid var(--background-color-light);

    display: grid;
    grid-column: 7/13;
    grid-row: span;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;




}

.footer-container-block-right-text-top a {

    color: #ededed;
    text-decoration: none;

}

.footer-container-block-right-text-top li:last-child {
    text-decoration: underline;
}

.footer-container-block-right-text-top li {

    color: #ededed;
}

.footer-container-block-right-text-top ul {
    list-style-type: none;
}

.footer-container-block-right-text-bottom {
    display: flex;
    justify-content: end;

    text-align: right;
    color: var(--color-black);
    margin-top: 20px;
}

.footer-container-block-right-text-bottom h6 {
    padding-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
}


@media (width < 1200px ) { 
    :root {
        --width-12col: 100%;
    }
}

@media (width<900px){

.footer-container{
    display:none;
}

.contact-form-left{
    width: 80%;
}

.personal-information-content{

grid-template-columns: repeat(2,1fr);
margin: 0 auto 0 auto;
    
}
}


@media (width < 700px ) {
.navigation.fixed{
    font-size: 32px;
}

.contact-input{
    width: 400px;
    height: 300px;
    margin-left: auto;
}

.contact-inputs{
    width: 400px;
    margin-left: auto;
   
}

.footer-container{
    display:none;
}


}