@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /*grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;

    /*color swatches*/
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;
}

/*reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*makes padding and border part of the total width and height*/
}

body,
html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
}

.navigation,
.hero,
.image-section,
.footer {
    width: var(--width-full);
}

.todays_recipes,
.categories,
.content-area {
    width: var(--width-12col);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    /* 0, 0 */
    z-index: 10;
    /*layers in css */
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
    /*navigation always stick to the top*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.menu-container a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--background-color-light);
    text-transform: uppercase;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.main-container ul li:last-child {
    border-right: none;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.clicked {
    color: var(--primary-color) !important;
}

.hero {
    background-image: url(https://picsum.photos/1200/800);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text {
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

a{
    text-decoration: none;
    color: var(--background-color-light);
}

.hero-text h1 {
    padding: 0;
    /*redundant. D r Y dont repeat yourself*/
    margin: 15px 0;
    /*we can only write top- right thenit will do it for both sides*/
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    
}

.hero-text h1 span {
    font-size: 37px;
    font-weight: 900;
}

.hero-text p {
    font-size: 14px;

}

.search-box {
    grid-column: 2/ span 3;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.material-symbols--search {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
}

.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border-radius: 5px;
    border: 1px solid var(--background-color-light);
    outline: none;
    /*blue-line*/
    color: var(--background-color-light);
    margin: 0 0 15px 0;
}

.search-input::placeholder {
    color: var(--background-color-light);
}

.search-input::placeholder::before {
    color: var(--background-color-light);
}


/*Todays recipes area start */
.todays-recipes {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;

}


.todays-recipes-headline {
    width: 100%;
    /* scale better on mobile phones */
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 70px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;

}

.todays-recipes-content-block-image img {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;

}

.todays-recipes-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.todays-recipes-content-block {
    background-color: var(--background-color-light);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.todays-recipes-content-block-text {
    padding: 20px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.todays-recipes-content-block-text h5 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.todays-recipes-content-block-text p {
    font-size: 16px;
}

.todays-recipes-content-block-bottom-area {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.todays-recipes-content-block-bottom-area-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;

}

.todays-recipes-content-block-bottom-area-left p {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.todays-recipes-content-block-bottom-area-left p:last-child {
    font-weight: 800;
}

.todays-recipes-content-block-bottom-area-right-button button {
    background-color: var(--color-black);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px;

}

.todays-recipes-content-block-bottom-area-right-button button a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}


/*data category colors start*/

div[data-category="seafood"] {
    border-left: 1px solid var(--category-seafood)
}

p[data-category="seafood"] {
    color: var(--category-seafood);
}

/*data-category colors end*/

div[data-category="chicken"] {
    border-left: 1px solid var(--category-chicken);
}

p[data-category="chicken"] {
    color: var(--category-chicken);
}

/*data category colors start*/

div[data-category="dessert"] {
    border-left: 1px solid var(--category-dessert)
}

p[data-category="dessert"] {
    color: var(--category-dessert);
}

/*data-category colors end*/

/*data category colors start*/

div[data-category="beef/pork"] {
    border-left: 1px solid var(--category-meats)
}

p[data-category="beef/pork"] {
    color: var(--category-meats);
}

/*data-category colors end*/


.category-selection {
    width: var(--width-12col);
    margin: 0 auto;

}


.category-selection-block {
    background-color: var(--background-color-light);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 5px;
    margin: 20px auto;
}

.category-selection-block {


    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;

}



.category-selection-block-item1 {

    color: var(--category-veg);
    text-transform: uppercase;


}

.category-selection-block-item2 {
    color: var(--category-seafood);
    text-transform: uppercase;

}

.category-selection-block-item3 {
    color: var(--category-pasta);
    text-transform: uppercase;
}

.category-selection-block-item4 {
    color: var(--category-chicken);
    text-transform: uppercase;
}

.category-selection-block-item5 {
    color: var(--category-misc);
    text-transform: uppercase;


}

.category-selection-block-item6 {
    color: var(--category-meats);
    text-transform: uppercase;
}

.category-selection-block-item7 {
    color: var(--category-dessert);
    text-transform: uppercase;

}

.secondary-hero {
    clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
    background-image: url(https://picsum.photos/1200/800);
    min-height: 600px;
    height: auto;
    background-size: cover;
    width: var(--width-full);
    display: flex;
    


}

.secondary-hero-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: var(--width-12col);
    align-items: center;
}

.secondary-hero-text {

    padding: 20px 40px 20px 20px;
    height: fit-content;
    grid-column: 10/ span 4;
    background-color: #ffffff;
    color: #111111;
    border-radius: 5px;

    
    
}

.secondary-hero-text h4{
    font-size: 16px;
    
    

}

.secondary-hero-text h5{
    font-size: 22px;
    color: #bf5b23;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.secondary-hero-text h6{
font-size:16px;
color: grey;
line-height: 20px;


}

.content-area{
   width: var(--width-12col);
   margin: 0 auto;
   gap: 10px;


  
}
.content-area-container{
    margin-top: 10px;
}

.content-area-block{
   display: flex;
   flex-wrap: wrap;
    width:var(--width-12col);
    height: 386px;
}
.content-area-block-text{

    background-color: var(--background-color-light);
    width:50%;
    font-size: 16px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding:50px 0 0px 120px;
  
   
}
.content-area-block-text-top h3{
border-left: 2px solid var(--category-pasta);
    padding: 0 0 0 10px;
    font-weight: 600;

}

.content-area-block-text-top p{
    font-size: 22px;
    text-transform: uppercase;
    color: var(--category-pasta);
    font-weight: 700;
    padding-top: 10px;
}


.content-area-block-text-top h6{
  font-size: 16px;
    padding: 10px 0 0 0px;
    font-weight: 400;
}


.content-area-block-text-bottom{
    font-size: 20px;
margin: 50px 0 30px 0;


}
.content-area-block-image{

    height: auto;
}

.content-area-block-text-bottom button {
    background-color: var(--color-black);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
   
  


}

.content-area-block-text-bottom button a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    
}
.footer-container {

    background-color: var(--category-pasta);
    margin: 200px 0px 0px 0px;
    width: var(--width-full);
}


.footer-container-block {
    width: var(--width-12col);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    list-style: none;
    margin-left: 120px;
    position: relative;
}


.footer-container-block-left {
    display: grid;
    grid-column: 1 /7;
    grid-row: span;
    margin: 50px 80px 40px 10px;




}

.footer-container-block-left-text-left {
    grid-column: 1/7;




}

.footer-container-block-left-text-left ul {

    list-style-type: none;


}

.footer-container-block-left-text-left a {
    text-decoration: none;
    color: var(--color-black);
    line-height: 30px;
}

.footer-container-block-left-text-left li {
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: start;

}


.footer-container-block-left-text-right {
    grid-column: 7/13;



}

.footer-container-block-left-text-right ul {
    list-style-type: none;
}

.footer-container-block-left-text-right a {
    text-decoration: none;
    color: var(--color-black);
    line-height: 30px;

}

.footer-container-block-right {

    border-left: 2px solid var(--background-color-light);

    display: grid;
    grid-column: 7/13;
    grid-row: span;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;




}

.footer-container-block-right-text-top a {

    color: #ededed;
    text-decoration: none;

}

.footer-container-block-right-text-top li:last-child {
    text-decoration: underline;
}

.footer-container-block-right-text-top li {

    color: #ededed;
}

.footer-container-block-right-text-top ul {
    list-style-type: none;
}

.footer-container-block-right-text-bottom {
    display: flex;
    justify-content: end;

    text-align: right;
    color: var(--color-black);
    margin-top: 20px;
}

.footer-container-block-right-text-bottom h6 {
    padding-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
}