@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /*grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;

    /*color swatches*/
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;
}

/*reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*makes padding and border part of the total width and height*/
}

body,
html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
    color: #ededed;
}

.navigation,
.hero,
.image-section,
.footer {
    width: var(--width-full);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    /* 0, 0 */
    z-index: 10;
    /*layers in css */
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
    /*navigation always stick to the top*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.menu-container a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--background-color-light);
    text-transform: uppercase;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.main-container ul li:last-child {
    border-right: none;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.clicked {
    color: var(--primary-color) !important;
}

.hero {
    background-color: var(--background-color-dark-bg);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text-header {
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text-header h1 {
    padding: 0;
    /*redundant. D r Y dont repeat yourself*/
    margin: 15px 0;
    /*we can only write top- right thenit will do it for both sides*/
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-text-header h1 span {
    font-size: 37px;
    font-weight: 900;
}

.hero-text-header p {
    font-size: 14px;
    color: var(--category-pasta);

}

.hero-container-left {
    grid-column: 1/span6;
    color: #ededed;
    grid-row: 1/2;


}

.hero-text-specifics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--category-pasta);
    margin-top: 40px;

}

.hero-text-specifics p {
    color: var(--background-color-light);
    font-size: 16px;
    padding-right: 100px;
}

.hero-text-ingredients-header {
    margin: 40px 0 0 0;
}

.hero-text-ingredients {

    display: flex;
    flex-wrap: wrap;
    padding-left: 17px;
    gap: 100px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}



.hero-text-ingredients-header h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.hero-text-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}

.hero-text-button-left button {

    background-color: var(--background-color-dark-bg);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px 0 5px;

}

.hero-text-button-left a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--background-color-light);
    font-size: 16px;
    gap: 5px;
    text-decoration: none;
    font-weight: 100;
}


.hero-text-button-right button {

    background-color: var(--background-color-dark-bg);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px 0 5px;
}

.hero-text-button-right a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--background-color-light);
    font-size: 14px;
    gap: 5px;
    text-decoration: none;
    font-weight: 100;
}


.hero-container-right {
    display: grid;
    grid-column: 7/span9;
    grid-row: 1/2;
    margin: 200px 100px 0 0;

}

.hero-container-right img {

    border-radius: 600px;
    margin-left: 100px;

}

.instructions-container {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;

}

.instructions-headline {
    width: 100%;
    /* scale better on mobile phones */
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 70px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;

}

.instructions-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: var(--width-12col);

}

.instructions-content-left {
    grid-column: 1/9;
    font-size: 16px;
    font-weight: 300;


}

.instructions-content-left ul {
    list-style-type: decimal;
    padding-left: 17px;
    line-height: 26px;
}

.instructions-content-left li {
    padding-top: 20px;
}

.instructions-content-right {
    grid-column: 10/12;
    ;
}

.instructions-content-right img {
    border-radius: 300px;
}

.instructions-container-bonus-headline {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 130px auto;
    gap: none;
    box-sizing: border-box;
    margin: 250px auto 20px auto;

}

.instructions-headline-bonus-left,
.instructions-headline-bonus-right {

    width: 100%;
    /* scale better on mobile phones */
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 70px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;

}

.instructions-headline-bonus-left {
    grid-column: 1/9;
}

.instructions-headline-bonus-right {
    grid-column: 9/13;

}

.instructions-bonus-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
    width: var(--width-12col);
    margin: 20px auto;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;

}

.instructions-bonus-content-left {
    grid-column: 1/7;
}

.instructions-bonus-content-left ul {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 40px;


}

.instructions-bonus-content-left li {
    list-style: none;
    padding-left: 10px;
    grid-column: 2/12;


}

.instructions-bonus-content-left h2 {
    writing-mode: vertical-lr;
    display: flex;

    grid-column: 1;
    font-size: 18px;
    font-weight: 400;

    text-transform: uppercase;
    color: #bf5b23;
    transform: rotate(180deg);
    justify-content: end;
    margin: 5px 20px 0 0;


}

/* .instructions-bonus-content-left li{
    padding-top: 30px;
    padding-left: 30px;
    list-style: none;
    display: flex;align-items: center;


   

   
    


} */
/* 
.instructions-bonus-content-left li::before{
    content: 'Step';
    color: #bf5b23;
    text-transform: uppercase;
    font-size: 14px;
    writing-mode: vertical-lr;
    text-orientation: sideways;
  */




.instructions-bonus-content-right {
    grid-column: 9/13;
    line-height: 24px;
    font-weight: 400;
}




.footer-container {

    background-color: var(--category-pasta);
    margin: 600px 0px 0px 0px;
    width: var(--width-full);



}

.footer-container-block {
    width: var(--width-12col);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    list-style: none;
    margin-left: 120px;
    position: relative;
}


.footer-container-block-left {
    display: grid;
    grid-column: 1 /7;
    grid-row: span;
    margin: 50px 80px 40px 10px;




}

.footer-container-block-left-text-left {
    grid-column: 1/7;




}

.footer-container-block-left-text-left ul {

    list-style-type: none;


}

.footer-container-block-left-text-left a {
    text-decoration: none;
    color: var(--color-black);
    line-height: 30px;
}

.footer-container-block-left-text-left li {
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: start;

}


.footer-container-block-left-text-right {
    grid-column: 7/13;



}

.footer-container-block-left-text-right ul {
    list-style-type: none;
}

.footer-container-block-left-text-right a {
    text-decoration: none;
    color: var(--color-black);
    line-height: 30px;

}

.footer-container-block-right {

    border-left: 2px solid var(--background-color-light);

    display: grid;
    grid-column: 7/13;
    grid-row: span;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;




}

.footer-container-block-right-text-top a {

    color: #ededed;
    text-decoration: none;

}

.footer-container-block-right-text-top li:last-child {
    text-decoration: underline;
}

.footer-container-block-right-text-top li {

    color: #ededed;
}

.footer-container-block-right-text-top ul {
    list-style-type: none;
}

.footer-container-block-right-text-bottom {
    display: flex;
    justify-content: end;

    text-align: right;
    color: var(--color-black);
    margin-top: 20px;
}

.footer-container-block-right-text-bottom h6 {
    padding-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
}