@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /*grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;

    /*color swatches*/
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;
}

/*reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*makes padding and border part of the total width and height*/
}

body,
html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
}

.navigation,
.hero,
.image-section,
.footer {
    width: var(--width-full);
}

.todays_recipes,
.categories,
.content-area {
    width: var(--width-12col);
}


.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    /* 0, 0 */
    z-index: 10;
    /*layers in css */
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
    /*navigation always stick to the top*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.menu-container a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--background-color-light);
    text-transform: uppercase;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.main-container ul li:last-child {
    border-right: none;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.clicked {
    color: var(--primary-color) !important;
}

/* SEARCH PAGE */

.hero-container-searchpage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
    border-bottom: 1px solid var(--background-color-light);
}


.hero-searchpage {
    background-color: var(--background-color-dark-bg);
    background: linear-gradient(0deg, #ededed00, #ededed07);
    min-height: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
}

.search-box-searchpage {
    
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.material-symbols--search {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
}

.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
}

.search-input::placeholder {
    color: var(--background-color-light);
}

.fullsearch-headline {
    width: 100%;
    color: var(--background-color-light);
    margin: 0 0 15px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.filter-category-checkbox {
    background-color: var(--background-color-dark-bg);
    background: linear-gradient(90deg, #ededed1b, #03030300);
    grid-column: 6 / span 7;
    grid-row: 2;
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    border-radius: 5px;
    
}

.filter-category-checkbox h3 {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}

.filter-category-checkbox label {
    display: flex;
    align-items: center;
    margin: 0px 0;
    color: var(--background-color-light);
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    height: 20px;
}

.filter-category-checkbox input[type="radio"] {
    margin-right: 10px;
    height: 22px;
    width: 22px;
}

.filter-category-checkbox input:checked {
    border: 2px solid var(--primary-color);
}

.filter-category-checkbox input[type="radio"]#chicken {
    accent-color: var(--category-chicken);
}

.filter-category-checkbox input[type="radio"]#seafood {
    accent-color: var(--category-seafood);
}

.filter-category-checkbox input[type="radio"]#meat {
    accent-color: var(--category-meats);
}

.filter-category-checkbox input[type="radio"]#veg {
    accent-color: var(--category-veg);
}

.filter-category-checkbox input[type="radio"]#dessert {
    accent-color: var(--category-dessert);
}

.filter-category-checkbox input[type="radio"]#misc {
    accent-color: var(--category-misc);
}

.filter-category-checkbox input[type="radio"]#pasta {
    accent-color: var(--category-pasta);
}

/* data category setup  start */
h4[data-category="seafood"] {
    border-left: 1px solid var(--category-seafood)
}

p[data-category="seafood"] {
    color: var(--category-seafood);
}

span[data-category="seafood"] {
    color: var(--category-seafood);
}

/* data category setup end */

h3[data-category="chicken"] {
    border-left: 1px solid var(--category-chicken)
}

p[data-category="chicken"] {
    color: var(--category-chicken);
}

span[data-category="chicken"] {
    color: var(--category-chicken);
}


.serp {
    border-top: 1px solid var(--color_black);
    width: var(--width-12col);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    ;
}

.serp-container {
    grid-column: 2 / span 10;
}

.serp-item {
    margin: 0 auto;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--background-color-light);
    padding: 50px 0;

}

.serp-item h3 {
    color: var(--background-color-light);
    padding-left: 9px;
    font-size: 16px;


}

.serp-item h4 {
    color: var(--background-color-light);
    padding-left: 9px;
    font-size: 16px;


}

.category-selection-serp-item1 {
    color: var(--category-chicken);
    text-transform: uppercase;


}

.category-selection-serp-item2 {
    color: var(--category-seafood);
    text-transform: uppercase;
}

.serp-item h2 {
    color: var(--category-pasta);
    font-size: 22px;
    text-transform: uppercase;


}


.serp-item p {
    color: var(--background-color-light);
    font-size: 16px;
    font-weight: 400;
}



.footer-container {




    background-color: var(--category-pasta);
    margin: 1000px 0px 0px 0px;
    width: var(--width-full);

}

.footer-container-block {
    width: var(--width-12col);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    list-style: none;
    margin-left: 120px;
    position: relative;
}


.footer-container-block-left {
    display: grid;
    grid-column: 1 /7;
    grid-row: span;
    margin: 50px 80px 40px 10px;




}

.footer-container-block-left-text-left {
    grid-column: 1/7;




}

.footer-container-block-left-text-left ul {

    list-style-type: none;


}

.footer-container-block-left-text-left a {
    text-decoration: none;
    color: var(--color-black);
    line-height: 30px;
}

.footer-container-block-left-text-left li {
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: start;

}


.footer-container-block-left-text-right {
    grid-column: 7/13;


}

.footer-container-block-left-text-right ul {
    list-style-type: none;
}

.footer-container-block-left-text-right a {
    text-decoration: none;
    color: var(--color-black);
    line-height: 30px;

}

.footer-container-block-right {

    border-left: 2px solid var(--background-color-light);

    display: grid;
    grid-column: 7/13;
    grid-row: span;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;




}

.footer-container-block-right-text-top a {

    color: #ededed;
    text-decoration: none;

}

.footer-container-block-right-text-top li:last-child {
    text-decoration: underline;
}

.footer-container-block-right-text-top li {

    color: #ededed;
}

.footer-container-block-right-text-top ul {
    list-style-type: none;
}

.footer-container-block-right-text-bottom {
    display: flex;
    justify-content: end;

    text-align: right;
    color: var(--color-black);
    margin-top: 20px;
}

.footer-container-block-right-text-bottom h6 {
    padding-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
}