@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /*grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;

    /*color swatches*/
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;
}

/*reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*makes padding and border part of the total width and height*/
}

body,
html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
    color: #ededed;
}

.navigation,
.hero,
.image-section,
.footer {
    width: var(--width-full);
}
.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    /* 0, 0 */
    z-index: 10;
    /*layers in css */
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed {
    /*navigation always stick to the top*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.menu-container a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--background-color-light);
    text-transform: uppercase;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.main-container ul li:last-child {
    border-right: none;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.clicked {
    color: var(--primary-color) !important;
}

.hero {
    background-color: var(--background-color-dark-bg);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text-header {
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text-header h1 {
    padding: 0;
    /*redundant. D r Y dont repeat yourself*/
    margin: 15px 0;
    /*we can only write top- right thenit will do it for both sides*/
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-text-header h1 span {
    font-size: 37px;
    font-weight: 900;
}

.hero-text-header p {
    font-size: 14px;
    color: var(--category-pasta);

}

.hero-container-left{
    grid-column: 1/span6;
    color: #ededed;
    grid-row: 1/2;
    
     
}
.hero-text-specifics{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


   color: var(--category-pasta);
   
    margin-top: 40px;
    
}
.hero-text-specifics p{
    color: var(--background-color-light);
    font-size: 16px;
    padding-right: 100px;
}

.hero-text-ingredients-header{
margin:40px 0 0 0;
}
.hero-text-ingredients{
    
    display: flex;
   flex-wrap: wrap;
   gap: 100px;
   font-size: 14px;
   line-height: 24px;
}

.hero-text-ingredients-header h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;

    
}

.hero-container-right{
    display: grid;
   
     grid-column: 7/span9;
     grid-row: 1/2;
     margin:200px 100px 0 0;
     
    

}

.hero-container-right img{
 
    


   
}
